html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

section {
    display: flex;
    flex-direction: column;
}

.orderSection {
    flex-direction: row;
    justify-content: space-between;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 69%;
    height: fit-content;
    flex-wrap: wrap;

}

    .menuContainer a {
        aspect-ratio: 1 / 1;
        width: 32.9%;
        margin: 0 0 0.5%;
        border: solid black 3px;
        color: black;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
    }   

    .menuContainer p:hover {
        color: blue;
    }

.menuContainer img {
    object-fit: cover;
    height: 80%;
    width: 80%;
}

.snackContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: fit-content;
}

.snackContainer img {
    width: 30%;
}

.overzicht {
    min-height: 85vh;
    width: 29%;
    border: solid black 3px;
}

.overzicht h1 {
    text-align: center;
}

.submit, .cancel {
    color: white;
    width: 40%;
    margin-top: 20px;
    color: white;
}

.submit {
    background-color: green;
}

.cancel {
    background-color: red;
}

.snacklist {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 75%;
}


.snackrow {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    width: 100%;

}

.extra {
    padding: 0px;
}

.extra:hover {
    color: blue;
}

.submit:hover, .cancel:hover {
    color: lightgray;
}