@using ClassLibrary;

@model OrderVM;

<div class="menuContainer">
    @{
        foreach (Drink drink in ViewBag.Drinks)
        {
            <a asp-action="DrinkOptions" asp-route-drinkId="@drink.Id"><img src=@drink.ImageUrl /></a>
        }
    }
</div>