@using ClassLibrary;

@model Order;

<div class="menuContainer">
    @{
        foreach (Drink drink in ViewBag.Drinks)
        {
            <a asp-action="AddDrink" asp-route-snackid="@drink.Id"><img src=@drink.ImageUrl /></a>
        }
    }
</div>