@using ClassLibrary;

@model OrderVM;

<div class="menuContainer">
    @{
        foreach (Snack snack in ViewBag.Snacks)
        {
            <a asp-action="Extras" asp-route-snackid="@snack.Id"><img src=@snack.ImageUrl /><p>@snack.Name - € @snack.Price.ToString("n2")</p></a>
        }
    }
</div>