html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

section{
    display: flex;
    flex-direction: column;
}


.menuContainer{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
}

.menuContainer a{
    width: 32.9%;
    aspect-ratio: 1/1;
    background: red;
    border: solid black 3px;
    margin: 0 0 0.5%;
}

.menuContainer img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.overzicht {
    width: 30%;
    height: 800px;
    background: yellow;
    border: solid black 3px;
}

.orderSection{
    flex-direction: row;
}